services:
    transfersh:
        image: dutchcoders/transfer.sh:v1.6.1
        command: ["--http-auth-user=username", "--http-auth-pass=secretpassword", "--listener=0.0.0.0:8080", "--provider=local", "--basedir=/storage", "--purge-days=20", "--purge-interval=5"]
        volumes:
            - ${PWD}/storage:/storage
# Uncomment this if you want to test/debug transfersh directly
#        ports:
#            - "8080:8080"

    proxy:
        image: caddy:2
        ports:
            - "80:80"
            - "443:443"
        volumes:
          - ${PWD}/caddy/conf:/etc/caddy
          - ${PWD}/caddy/data:/data
